
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans', sans-serif;

  color: white;
  padding: 1rem;
  text-align: center;
   
  /* background-color: #000000; */
  font-family: sans-serif; 

  min-height: 100%;
  min-width: 100%;

  /* background-color: #000000; */
  background-image: linear-gradient(90deg, rgb(9, 128, 247) 25%, rgb(252, 0, 126) 75%);
  /* background: url(https://png.pngtree.com/background/20210716/original/pngtree-tranquil-universe-background-picture-image_1337175.jpg); */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
 
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], 
textarea {
  border: 1px solid rgb(183, 200, 207);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

button {
  
    color: rgba(var(--text-color));
    border: 3px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 30px;
    text-Transform: uppercase;
  }
/* Footer{
  background-size: cover;
  background: url(https://png.pngtree.com/background/20210716/original/pngtree-tranquil-universe-background-picture-image_1337175.jpg);
} */


